<extend name="Base/base1"/>
<block name="header"><include file="Public/header1"/></block>
<block name="content">
	<div class="content">
		<div class="container mycartblock">
			<!-- 我的购物车 -->
			<div class="checkcart" id="cartblock">
				<div class="current-process">
					<p class="process-title fleft">我的购物车</p>
					<div class="cartimg processimg fright"></div>
				</div>
				<span class="nothingtips txtcenter">您购物车内暂时没有商品，您可以去<a href="{:U('Home/Index/index')}">首页挑选喜欢的商品</a></span>
				<table class="table ordertable cartlists" data-action="{:U('Home/User/cart')}">
					<thead>
						<th>商品信息</th>
						<th>规格</th>
						<th>原价(元)</th>
						<th>单价(元)</th>
						<th>数量</th>
						<th>优惠</th>
						<th>小计</th>
						<th>操作</th>
					</thead>
					<tbody>						
						<volist name="cartlist" id="data">
							<tr>
								<td><img src="__PUBLIC__/images/<?php echo explode(',', $data['pro_img'])[1];?>" alt="枇杷" style="width: 80px;height 70px;margin-right:10px;" />{$data['pro_name']}</td>
								<span class="goodsid" style="display:none;">{$data['pro_id']}</span>
								<td class="weight">{$data['pro_weight']}</td>
								<td class="disprice">{$data['pro_price']}</td>
								<td class="perprice">{$data['pro_disprice']}</td>
								<td>
									<span class="operate decrease"><img src="__PUBLIC__/images/bag_close.gif" alt="数量减少" /></span>
									<span class="number txtcenter">{$data['add_count']}</span>
									<span class="operate increase"><img src="__PUBLIC__/images/bag_open.gif" alt="数量增加" /></span>
								</td>
								<td></td>
								<td class="sumprice">{$data['sumprice']}</td>
								<td><a class="deletebtn" data-url="{:U('Home/User/delete')}" data-id="{$data['pro_id']}">删除</a></td>
							</tr>
						</volist>
					</tbody>
				</table>
				<div class="cart-operate">
					<p class="txtcenter">商品金额总计：<span class="orange total">￥<?php echo session('totalprice');?></span></p>
					<div class="oprea-group">
						<a class="btn btn-default arround" href="{:U('Home/Index/index')}">继续逛逛</a>
						<a class="btn btn-default checkout" href="{:U('Home/User/check')}">去结算</a>
					</div>
				</div>
				<div class="current-search">
					<p class="curtitle">最近浏览的商品</p>
					<ul class="curlists">
						<volist name="lastlist.list" id="data">
							<li data-id="{$data['pro_id']}">
								<a class="detailbtn" data-href="{:U('Home/Index/getdetail')}">
									<img src="__PUBLIC__/images/<?php echo explode(',', $data['pro_img'])[1];?>" alt="枇杷" />
									<div class="hotright">
										<p>{$data['pro_name']}</p>
										<p class="hot-price">￥{$data['pro_disprice']}</p>
									</div>
								</a>
							</li>
						</volist>
					</ul>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="footer"><include file="Public/footer"/></block>
<block name="javascript">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/myjs.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		/*判断购物车是否为空，为空提示去添加商品*/
		if($('.total').text() == '￥0'){
			$('.nothingtips').css({"display":"block"});
			$('.cartlists').css({"display":"none"});
			$('.checkout').attr('href','');
		}
		/*删除商品*/
		$('.deletebtn').click(function(){
			var r = confirm("是否要删除该记录？");
  			if (r == true){
				$action = $(this).attr('data-url');
				$goodsid = $(this).attr('data-id');
				// alert($goodsid);
				$.post($action,{goodsid:$goodsid},function(data){
					if(data.status == 1){
						// alert('删除成功！');
						$('.goodsnum').html(data.goodsnum);
						location.reload();
					}else{
						alert('删除失败！');
					}
				});
			}
		});
		/*商品详细*/
		$('.detailbtn').click(function(e){
			$action = $(this).attr('data-href');
			$goodsid = $(this).parent('li').attr('data-id');
			$username = $('.loginname').text();
			// alert($username + " " + $goodsid);
			$.post($action,{username:$username,goodsid:$goodsid},function(data){
				$('.goodsnum').html(data.goodsnum);
				$('.total').html(data.totalprice);
				$('.hasnum').html(data.goodsnum);
				// $('.goodstitle').html(data.proname);
				location.href = "/xianpipa/index.php/Home/Index/detail.html";
			});
			e.preventDefault();
		});
	});
	</script>
</block>