<extend name="Base/base1"/>
<block name="header"><include file="Public/header"/></block>
<block name="content">
	<div class="content">
		<div class="container">
			<div class="account fleft">
				<p>帮助中心</p>
				<ul id="accountmenu">
					<li data-id="process">购物流程</li>
					<li data-id="problem">常见问题</li>
					<li data-id="aboutus">关于天天鲜果</li>
					<li data-id="links">友情链接</li>
					<li data-id="contact">联系我们</li>
				</ul>
			</div>
			<div class="account-right fleft">
				<div class="crumb">
					<a href="{:U('Home/Index/index')}"><span class="glyphicon glyphicon-home"></span>首页</a> >> <span class="glyphicon glyphicon-question-sign"></span>帮助中心 >> <span class="glyphicon glyphicon-screenshot"></span><span class="account-lbs">购物流程</span>
				</div>
				<p class="account-lbs curtags">购物流程</p>
				<!-- 购物流程 -->
				<div class="help-block current" id="process">
					<p>1、在天天鲜果网站登录或者注册，成为天天鲜果的会员，即可享受接下来的购物。</p>
					<img src="__PUBLIC__/images/login.png" alt="登录" />
					<img src="__PUBLIC__/images/register.png" alt="注册" />
					<p>2、在天天鲜果网站浏览选购您需要的产品，选择 需要的商品及规格， 点击“加入购物车”即加入到购物车。</p>
					<img src="__PUBLIC__/images/chose.png" alt="选择商品" />
					<p>3、查看购物车，确认商品后点击“去结算”。</p>
					<img src="__PUBLIC__/images/topay.png" alt="去结算" />
					<p>4、进入购物车，按照要求填写收货人信息、选择送货时间以及付款方式。信息填写完整后即可提交订单，进入支付页面。</p>
					<img src="__PUBLIC__/images/check.png" alt="填写并核查信息" />
					<p>5、订单提交成功后，点击前往银行付款。</p>
					<img src="__PUBLIC__/images/pay.png" alt="立即付款" />
				</div>
				<!-- 常见问题 -->
				<div class="help-block" id="problem"></div>
				<!-- 关于天天鲜果 -->
				<div class="help-block" id="aboutus">
					<p>该网站作为毕业设计的项目，主要想通过互联网结合当下流行的营销模式，打破传统的水果销售局限，找到一种新的盈利方式。</p>
				</div>
				<!-- 友情链接 -->
				<div class="help-block" id="links">
					<p>支付宝：<a href="https://www.alipay.com/">https://www.alipay.com/</a></p>
				</div>
				<!-- 联系我们 -->
				<div class="help-block" id="contact">
					<p>此网站为水果类购物网站，如在购物过程中有任何问题，可以咨询<strong>QQ：2354797719</strong>。祝您购物愉快！~</p>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="footer"><include file="Public/footer"/></block>
<block name="javascript">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript">
	$('#accountmenu li').click(function(){
		var curblock = $(this).attr('data-id');
		var text = $(this).text();
		$('.account-lbs').html(text);
		$('.help-block').removeClass('current');
		$('#' + curblock).addClass('current');
	});
	// /*我的订单*/
	// $('#myorder li').click(function(){
	// 	var blockid = $(this).attr('data-id');
	// 	$('.order-block').removeClass('cur-myorder');
	// 	$('#' + blockid).addClass('cur-myorder');
	// 	$('#myorder li').removeClass('myorder-current');
	// 	$(this).addClass('myorder-current');
	// });
	</script>
</block>