<extend name="Base/base"/>
<block name="content">
	<div class="top-nav">
		<div class="container">
			<div class="tn-left"><p>您好，欢迎来到天天鲜果！<?php echo $today;?></p></div>
			<div class="tn-right">
				<span class="thisname">您好，<span class="loginname"><?php echo session('user_name');?></span></span>
				<a class="registerbtn" href="{:U('Home/User/register')}">[注册]</a><span class="split">|</span>
				<a href="{:U('Home/Index/index')}">[首页]</a><span class="split">|</span>
				<a class="myfruit">我的果园</a>
			</div>
		</div>
	</div>
	<div class="user-header">
		<div class="container">
			<a class="fleft" href="{:U('Home/Index/index')}"><img src="__PUBLIC__/images/logo.png" alt="logo" /></a>
			<span class="welcome-tips"><span class="split">|</span>欢迎登录</span>
		</div>
	</div>
	<!-- class="user-content" start -->
	<div class="user-content">
		<div class="container">
			<div class="content-left fleft"><img src="__PUBLIC__/images/loginleft.png" alt="logo" /></div>
			<div class="content-right fright">
				<p class="form-title">登录天天鲜果</p>
				<form class="form-horizontal login-form" action="{:U('Home/User/login')}" method="post">
					<div class="form-group">
						<label class="control-label col-xs-3">手机/邮箱</label>
						<div class="col-xs-9"><input class="form-control" id="username" name="username" type="text" placeholder="请输入手机或邮箱"></div>
						<label class="control-label usernameerror error"><img src="__PUBLIC__/images/unchecked.gif" alt="错误" />用户名不存在或者错误，请重新输入！</label>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3">密码</label>
						<div class="col-xs-9"><input class="form-control" id="password" name="password" type="password" placeholder="请输入密码"></div>
						<label class="control-label pwderror error"><img src="__PUBLIC__/images/unchecked.gif" alt="错误" />密码有错，请重新输入！</label>
					</div>
					<div class="form-group mt30">
						<button class="btn btn-default login userbtn" id="signin">登录</button>
						<a class="forgetpwd" href="#">忘记密码？</a>
					</div>
					<div class="form-group txtcenter"><label class="control-label" id="notice"></label></div>
				</form>
			</div>
		</div>
	</div>
	<!-- class="user-content" end -->
</block>
<block name="footer"><include file="Public/footer"/></block>
<block name="javascript">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/myjs.js"></script>
	<script type="text/javascript">
	$('#signin').click(function(e){
		$username = $("#username").val();
		console.log($("#username").val() + " " + $("#password").val());
		$pwd = $("#password").val();
		$action = $('.login-form').attr('action');
		$.post($action, {username:$username, password:$pwd}, function(data){
			if(data.status == 1){
				$('#notice').html(data.info);
				setTimeout(function(){
					window.location.href = "{:U('Home/Index/index')}"; 
				},1000);
			}else{
				$('#notice').html('<img src="__PUBLIC__/images/unchecked.gif" alt="错误" />' + data.info);
			}
		});
		e.preventDefault();
	});
	</script>
</block>
</body>
</html> 