<extend name="Base/base1"/>
<block name="header"><include file="Public/header1"/></block>
<block name="content">
	<div class="content">
		<div class="container mycartblock">
			<!-- 支付 -->
			<div class="checkcart" id="chosepayblock">
				<div class="current-process">
					<div class="fleft leftp">
						<p class="orange">您已提交订单，请尽快支付！</p>
						<p>请在半小时内付款，超过时间系统将自动取消订单！</p>
					</div>
					<div class="payimg processimg fright"></div>
				</div>
				<div class="paynow">
					<p>您的订单号：<?php echo session('orderid');?><a href="__MODULE__/User/myfruit.html" target="_blank">&nbsp;&nbsp;查看订单&gt;&gt;</a></p>
					<p>支付金额：<span class="orange total">￥<?php echo session('ordertotal');?></span></span></p>
					<div class="orangeborder payway">
						<div style="width: 100%;overflow: hidden;">
						<p class="border-title fleft">支付方式</p>
						<a class="update fleft" id="updateway">[修改]</a>
					</div>
					<p class="have"><?php echo session('payway');?></p>
					<form class="form-horizontal payform" action="" method="">
						<div class="way radio">
							<label>
								<input type="radio" name="way" id="way1" value="支付宝" checked>
								<img src="__PUBLIC__/images/alipay.jpg" alt="支付宝" />
							</label>
						</div>
						<div class="way radio">
							<label>
								<input type="radio" name="way" id="way2" value="中国银行">
								<img src="__PUBLIC__/images/bank.jpg" alt="中国银行" />
							</label>
						</div>
						<div class="form-group">
							<a class="btn btn-default save" id="saveway">保存支付方式</a>
						</div>
					</form>
					</div>
					<div class="form-group">
						<a class="btn btn-default save" id="paynow" href="https://www.alipay.com/" target="_blank">立即支付</a>
					</div>
				</div>
			</div>
			</div>
	</div>
</block>
<block name="footer"><include file="Public/footer"/></block>
<block name="javascript">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/myjs.js"></script>
	<script type="text/javascript">
	/*修改支付方式*/
	$('#updateway').click(function(){
		var $thisindex = $(this).parents('.orangeborder');
		$(this).css({"display":"none"});
		$thisindex.children('.have').css({"display":"none"});
		$thisindex.css({"border":"2px solid #f60"});
		$thisindex.children('form').css({"display":"block"});
		$('#paynow').css({'background-color':"#eee",'color':'#aaa'});
		$('#paynow').attr('href','');
	});
	$('#saveway').click(function(){
		var $thisindex = $(this).parents('.orangeborder');
		$thisindex.children('form').css({"display":"none"});
		$thisindex.css({"border":"2px solid #ccc"});
		$thisindex.children('.have').css({"display":"block"});
		$('#updateway').css({"display":"block"});
		var radio = document.all("way");
		for(var i = 0; i < radio.length; i++){
			if(radio[i].checked){
				$('.paynow .have').html(radio[i].value + '付款');
			}
		}
		$('#paynow').css({'background-color':"#f60",'color':'#fff'});
		$('#paynow').attr('href','https://www.alipay.com/');
		return false;
	});
	</script>
</block>