<extend name="Base/base"/>
<block name="content">
	<div class="top-nav">
		<div class="container">
			<div class="tn-left"><p>您好，欢迎来到天天鲜果！<?php echo $today;?></p></div>
			<div class="tn-right">
				<span class="thisname">您好，<span class="loginname"><?php echo session('user_name');?></span></span>
				<a class="loginbtn" href="{:U('Home/User/login')}">[登录]</a><span class="split">|</span>
				<a href="{:U('Home/Index/index')}">[首页]</a><span class="split">|</span>
				<a class="myfruit">我的果园</a>
			</div>
		</div>
	</div>
	<div class="user-header">
		<div class="container">
			<a class="fleft" href="{:U('Home/Index/index')}"><img src="__PUBLIC__/images/logo.png" alt="logo" /></a>
			<span class="welcome-tips"><span class="split">|</span>欢迎注册</span>
		</div>
	</div>
	<!-- class="user-content" start -->
	<div class="user-content">
		<div class="container">
			<div class="content-left fleft"><img src="__PUBLIC__/images/registerleft.png" alt="logo" /></div>
			<div class="content-right fright">
				<p class="form-title">注册天天鲜果</p>
				<form class="form-horizontal register-form" action="{:U('Home/User/register')}" method="post">
					<div class="form-group">
						<label class="control-label col-xs-3">手机/邮箱</label>
						<div class="col-xs-9"><input class="form-control" id="username" name="username" type="text" placeholder="请输入手机或邮箱"></div>
						<label class="control-label usernameerror error"><img src="__PUBLIC__/images/unchecked.gif" alt="错误" />只能输入手机或邮箱，请重新输入！</label>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3">密码</label>
						<div class="col-xs-9"><input class="form-control" id="password" name="password" type="password" placeholder="请输入密码"></div>
						<label class="control-label pwderror error"><img src="__PUBLIC__/images/unchecked.gif" alt="错误" />密码请使用数字和字母，长度8~20之间</label>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3">确认密码</label>
						<div class="col-xs-9"><input class="form-control" id="password1" name="password1" type="password" placeholder="请再次输入密码"></div>
						<label class="control-label pwd1error error"><img src="__PUBLIC__/images/unchecked.gif" alt="错误" />两次密码不一致，请重新输入！</label>
					</div>
					<div class="form-group">
						<button class="btn btn-default register userbtn" id="signup">注册</button>
					</div>
					<div class="form-group txtcenter"><label class="control-label" id="notice"></label></div>
				</form>
			</div>
		</div>
	</div>
	<!-- class="user-content" end -->
</block>
<block name="footer"><include file="Public/footer"/></block>
<block name="javascript">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/myjs.js"></script>
	<script type="text/javascript">
	$("#username").blur(function(){
		var reg = /(^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$)|(^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$)/;
		if(!reg.test($("#username").val())){
			$('.usernameerror').css({"display":"inline-block"});
		}else{
			$('.usernameerror').css({"display":"none"});
		}
	});
	$("#password").blur(function(){
		var reg = /^[0-9a-zA-Z]{8,20}$/gi;
		if(!reg.test($("#password").val())){
			$('.pwderror').css({"display":"inline-block"});
		}else{
			$('.pwderror').css({"display":"none"});
		}
	});
	$("#password1").blur(function(){
		if($("#password1").val() !== $("#password").val()){
			$('.pwd1error').css({"display":"inline-block"});
		}else{
			$('.pwd1error').css({"display":"none"});
		}
	});
	$('#signup').click(function(e){
		var reg = /(^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$)|(^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$)/;
		if(!reg.test($("#username").val())){
			$('.usernameerror').css({"display":"inline-block"});
			return false;
		}else{
			$('.usernameerror').css({"display":"none"});
		}
		var reg1 = /^[0-9a-zA-Z]{8,20}$/gi;
		if(!reg1.test($("#password").val())){
			$('.pwderror').css({"display":"inline-block"});
			return false;
		}else{
			$('.pwderror').css({"display":"none"});
		}
		if($("#password1").val() !== $("#password").val()){
			$('.pwd1error').css({"display":"inline-block"});
			return false;
		}else{
			$('.pwd1error').css({"display":"none"});
		}
		$username = $("#username").val();
		$pwd = $("#password").val();
		$action = $('.register-form').attr('action');
		$.post($action, {username:$username, password:$pwd}, function(data){
			if(data.status == 1){
				$('#notice').html(data.info);
				setTimeout(function(){
					window.location.href="{:U('Home/User/login')}"; 
				},1000);
			}else{
				$('#notice').html('<img src="__PUBLIC__/images/unchecked.gif" alt="错误" />' + data.info);
			}
		});
		e.preventDefault();
	});
	</script>
</block>