<extend name="Base/base1"/>
<block name="header"><include file="Public/header"/></block>
<block name="content">
	<div class="content">
		<div class="container">
			<div class="crumb">
				<a href="{:U('Home/Index/index')}"><span class="glyphicon glyphicon-home"></span>首页</a> >> 
				<a href="{:U('Home/Index/fruit')}"><span class="glyphicon glyphicon-cutlery"></span>鲜果区</a> >>
				<span class="goodstitle">{$detail['goodsname']}</span>
			</div>
			<div class="detail">
				<div class="detail-left fleft">
					<div style="overflow: hidden;margin-bottom: 20px;">
						<div class="detail-imgs fleft">
							<div class="tb-booth tb-pic tb-s310">
				                <a>
				                    <img src="__PUBLIC__/images/<?php $imgstr = explode(',', $detail['detailimg'])[2]; $root = explode('/', $imgstr)[0]; $mid = explode('/', $imgstr)[1]; echo $root.'/1_'.$mid ?>" alt="" rel="__PUBLIC__/images/<?php $imgstr = explode(',', $detail['detailimg'])[2];
				                    $root = explode('/', $imgstr)[0];
				                    $mid = explode('/', $imgstr)[1];
				                    echo $root.'/2_'.$mid ?>" class="jqzoom" style="cursor: crosshair;">
				                </a>
				            </div>
				            <ul class="detaillists tb-thumb" id="thumblist">
				                <li class="tb-selected">
				                    <div class="tb-pic tb-s40">
				                        <a>
				                            <img src="__PUBLIC__/images/<?php echo explode(',', $detail['detailimg'])[2];?>" mid="__PUBLIC__/images/<?php $imgstr = explode(',', $detail['detailimg'])[2];
						                    $root = explode('/', $imgstr)[0];
						                    $mid = explode('/', $imgstr)[1];
						                    echo $root.'/1_'.$mid ?>" big="__PUBLIC__/images/<?php $imgstr = explode(',', $detail['detailimg'])[2];
						                    $root = explode('/', $imgstr)[0];
						                    $mid = explode('/', $imgstr)[1];
						                    echo $root.'/2_'.$mid ?>">
				                        </a>
				                    </div>
				                </li>
				                <li>
				                    <div class="tb-pic tb-s40">
				                        <a>
				                            <img src="__PUBLIC__/images/<?php echo explode(',', $detail['detailimg'])[3];?>" mid="__PUBLIC__/images/<?php $imgstr = explode(',', $detail['detailimg'])[3];
						                    $root = explode('/', $imgstr)[0];
						                    $mid = explode('/', $imgstr)[1];
						                    echo $root.'/1_'.$mid ?>" big="__PUBLIC__/images/<?php $imgstr = explode(',', $detail['detailimg'])[3];
						                    $root = explode('/', $imgstr)[0];
						                    $mid = explode('/', $imgstr)[1];
						                    echo $root.'/2_'.$mid ?>">
				                        </a>
				                    </div>
				                </li>
				                <li>
				                    <div class="tb-pic tb-s40">
				                        <a>
				                            <img src="__PUBLIC__/images/<?php echo explode(',', $detail['detailimg'])[4];?>" mid="__PUBLIC__/images/<?php $imgstr = explode(',', $detail['detailimg'])[4];
						                    $root = explode('/', $imgstr)[0];
						                    $mid = explode('/', $imgstr)[1];
						                    echo $root.'/1_'.$mid ?>" big="__PUBLIC__/images/<?php $imgstr = explode(',', $detail['detailimg'])[4];
						                    $root = explode('/', $imgstr)[0];
						                    $mid = explode('/', $imgstr)[1];
						                    echo $root.'/2_'.$mid ?>">
				                        </a>
				                    </div>
				                </li>
				                <li>
				                    <div class="tb-pic tb-s40">
				                        <a>
				                            <img src="__PUBLIC__/images/<?php echo explode(',', $detail['detailimg'])[5];?>" mid="__PUBLIC__/images/<?php $imgstr = explode(',', $detail['detailimg'])[5];
						                    $root = explode('/', $imgstr)[0];
						                    $mid = explode('/', $imgstr)[1];
						                    echo $root.'/1_'.$mid ?>" big="__PUBLIC__/images/<?php $imgstr = explode(',', $detail['detailimg'])[5];
						                    $root = explode('/', $imgstr)[0];
						                    $mid = explode('/', $imgstr)[1];
						                    echo $root.'/2_'.$mid ?>">
				                        </a>
				                    </div>
				                </li>
				            </ul>
						</div>
						<div class="detail-info fleft">
							<form class="addcartform" action="{:U('Home/Index/fruit')}" method="post">
								<p class="info-title goodstitle">{$detail['goodsname']}</p>
								<div class="info-block">
									<p>{$detail['weight']}&nbsp;&nbsp;&nbsp;&nbsp;<span class="orange">￥{$detail['disprice']}</span>/<s>￥{$detail['price']}</s></p>
									<p>商品编号：<span class='goodsid'>{$detail['goodsid']}</span></p>
								</div>
								<div class="info-block">
									<p><!-- 配送至：<span class="location">厦门 -->库存量：<span id="curstorage">{$detail['storage']}</span>&nbsp;&nbsp;&nbsp;&nbsp;<strong>有货</strong></p>
								</div>
								<div class="info-block">
									<div class="ml20 fleft">
										<span class="operate decrease"><img src="__PUBLIC__/images/bag_close.gif" alt="数量减少" /></span>
										<span class="number txtcenter">1</span>
										<span class="operate increase"><img src="__PUBLIC__/images/bag_open.gif" alt="数量增加" /></span>
									</div>
									<div class="ml20 fleft focus" data-url="{:U('Home/Index/goodsnotfocus')}" data-focus="{$detail['focus']}"><img src="__PUBLIC__/images/notfocus.png" alt="关注" /></div>
									<div class="addcartbtn ml20 fleft"  data-id="{$detail['goodsid']}"><img src="__PUBLIC__/images/cart.png" alt="加入到购物车" /></div>
								</div>
							</form>
						</div>
					</div>
					<div class="detail-bottom">
						<ul class="detail-menu" id="detailmenu">
							<li class="current" data-id="detail">商品详情</li>
							<li data-id="comment">顾客评论(0)</li>
						</ul>
						<div class="detail-block detail-location" id="detail">
							<p>商品简介</p>
							<p style="text-indent:2em;">{$detail['content']}</p>
							<!-- <p>产地：莆田&nbsp;&nbsp;&nbsp;&nbsp;净重：单重30-50g</p> -->
							<div class="bottomline"></div>
							<img src="__PUBLIC__/images/<?php $imgstr = explode(',', $detail['detailimg'])[3];
						                    $root = explode('/', $imgstr)[0];
						                    $mid = explode('/', $imgstr)[1];
						                    echo $root.'/2_'.$mid ?>" alt="" />
							<img src="__PUBLIC__/images/<?php $imgstr = explode(',', $detail['detailimg'])[4];
						                    $root = explode('/', $imgstr)[0];
						                    $mid = explode('/', $imgstr)[1];
						                    echo $root.'/2_'.$mid ?>" alt="" />
							<img src="__PUBLIC__/images/<?php $imgstr = explode(',', $detail['detailimg'])[5];
						                    $root = explode('/', $imgstr)[0];
						                    $mid = explode('/', $imgstr)[1];
						                    echo $root.'/2_'.$mid ?>" alt="" />
							<!-- 顾客评论 -->
							<p>顾客评论</p>
							<ul class="">
								<!-- <li>
									<img class="fleft" src="__PUBLIC__/images/head_pic.png" alt="头像" />
									<div class="commentright fleft">
										<p class="com-user">匿名用户</p>
										<p class="com-content">非常好吃，很甜，个头很大</p>
										<p class="com-time">2015-03-25 17:23:09</p>
									</div>
								</li> -->
							</ul>
						</div>
						<div class="detail-block" id="comment">
							<p id="comment">顾客评论</p>
							<ul class="">
								<!-- <li>
									<img class="fleft" src="__PUBLIC__/images/head_pic.png" alt="头像" />
									<div class="commentright fleft">
										<p class="com-user">匿名用户</p>
										<p class="com-content">非常好吃，很甜，个头很大</p>
										<p class="com-time">2015-03-25 17:23:09</p>
									</div>
								</li> -->
							</ul>
						</div>
					</div>
				</div>
				<div class="detail-right fright">
					<p class="curtitle">最近浏览的商品</p>
					<ul class="hotlists">
						<volist name="lastlist.list" id="data">
							<li data-id="{$data['pro_id']}">
								<a class="detailbtn" data-href="{:U('Home/Index/getdetail')}">
									<img src="__PUBLIC__/images/<?php echo explode(',', $data['pro_img'])[1];?>" alt="枇杷" style="width:80px;height:70px;" />
									<div class="hotright fright">
										<p>{$data['pro_name']}</p>
										<p class="hot-price">￥{$data['pro_disprice']}</p>
									</div>
								</a>
							</li>
							<div class="borderbottom"></div>
						</volist>
					</ul>
				</div>				
			</div>
		</div>
		<div class="addtocart txtcenter">
			<p class="addtitle">已成功加入到购物车</p>
			<p>购物车共有<span class="orange hasnum"><?php echo session('goodsnum');?></span>件商品，合计：<span class="orange total">￥<?php echo session('totalprice');?></span></p>
			<div class="close"><img src="__PUBLIC__/images/close.png" alt="关闭" /></div>
			<div class="oprea-group">
				<button class="btn btn-default arround">继续逛逛</button>
				<a class="btn btn-default checkout" href="{:U('Home/User/cart')}">去结算</a>
			</div>
		</div>
		<div class="gotop" id="gotopbtn"><img src="__PUBLIC__/images/top.png" alt="回到顶部" /></div>
	</div>
</block>
<block name="footer"><include file="Public/footer"/></block>
<block name="javascript">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.imagezoom.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/myjs.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
        $(".jqzoom").imagezoom();
        $("#thumblist li a").click(function() {
            $(this).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
            $(".jqzoom").attr('src', $(this).find("img").attr("mid"));
            $(".jqzoom").attr('rel', $(this).find("img").attr("big"));
        });

        /*添加到购物车*/
		$('.addcartbtn').click(function(){
			if($(".loginname").text()){	
				$goodsid = $(this).attr("data-id");
				$username = $('.loginname').text();
				$pronum = $('.number').text();
				$action = $('.addcartform').attr('action');
				$curstorage = parseInt($('#curstorage').text());
				if($curstorage - $pronum < 0){
					alert('不好意思，当前库存量不够！');
				}else{
					$.post($action,{username:$username,goodsid:$goodsid,pronum:$pronum},function(data){
						$('.goodsnum').html(data.goodsnum);
						$('.total').html('￥' + data.totalprice);
						$('.addtocart').fadeIn(300).css({'display':"block"});
						setTimeout(function(){
							$('.addtocart').fadeOut(300).css({'display':"none"});
						},1500);
						$('.hasnum').html(data.goodsnum);
						// alert(data);
					});
					// location.reload();
				}
			}else{
				location.href = "/xianpipa/index.php/Home/User/login.html";
			}
		});
		/*商品详细*/
		$('.detailbtn').click(function(e){
			$action = $(this).attr('data-href');
			$goodsid = $(this).parent('li').attr('data-id');
			$username = $('.loginname').text();
			// alert($username + " " + $goodsid);
			$.post($action,{username:$username,goodsid:$goodsid},function(data){
				$('.goodsnum').html(data.goodsnum);
				$('.total').html(data.totalprice);
				$('.hasnum').html(data.goodsnum);
				// $('.goodstitle').html(data.proname);
				location.href = "/xianpipa/index.php/Home/Index/detail.html";
			});
			e.preventDefault();
		});
		if($('.focus').attr('data-focus') == 1){
			$('.focus img').attr('src','__PUBLIC__/images/focus.png');
			$(this).attr('data-url',"{:U('Home/Index/goodsfocus')}");
		}
		/*关注商品*/
		$('.focus').click(function(){
			if($(".loginname").text()){
				if($('.focus img').attr('src') == '__PUBLIC__/images/notfocus.png'){
					$('.focus img').attr('src','__PUBLIC__/images/focus.png');
					$(this).attr('data-url',"{:U('Home/Index/goodsfocus')}");
				}else{
					$('.focus img').attr('src','__PUBLIC__/images/notfocus.png');
					$(this).attr('data-url',"{:U('Home/Index/goodsnotfocus')}");
				}
				$action = $(this).attr('data-url');
				$goodsid = $('.goodsid').text();
				$.post($action,{goodsid:$goodsid},function(data){
					
				});
			}else{
				alert('请先登录再收藏商品哦！');
			}
		});
    });
	
	/*滚动到商品详情之后停止不动*/
	function htmlScroll()
	{
	    var top = document.body.scrollTop ||  document.documentElement.scrollTop;
	    if((elFix.data_top) < top)
	    {
	        elFix.style.position = 'fixed';
	        elFix.style.top = 0;
	        elFix.style.left = elFix.data_left;
	    }
	    else
	    {
	        elFix.style.position = 'static';
	    }
	}
	function htmlPosition(obj)
	{
	    var o = obj;
	    var t = o.offsetTop;
	    var l = o.offsetLeft;
	    while(o = o.offsetParent)
	    {
	        t += o.offsetTop;
	        l += o.offsetLeft;
	    }
	    obj.data_top = t;
	    obj.data_left = l;
	}
	var oldHtmlWidth = document.documentElement.offsetWidth;
	window.onresize = function(){
	    var newHtmlWidth = document.documentElement.offsetWidth;
	    if(oldHtmlWidth == newHtmlWidth)
	    {
	        return;
	    }
	    oldHtmlWidth = newHtmlWidth;
	    elFix.style.position = 'static';
	    htmlPosition(elFix);
	    htmlScroll();
	}
	window.onscroll = htmlScroll;
	var elFix = document.getElementById('detailmenu');
	htmlPosition(elFix);

	$('#detailmenu li').click(function(){
		$('#detailmenu li').removeClass('current');
		var index = $(this).attr('data-id');
		$(this).addClass('current');
		$('.detail-block').removeClass('detail-location');
		$('#' + index).addClass('detail-location')
		document.body.scrollTop = 690;
		document.documentElement.scrollTop = 690;
	});
	</script>
</block>