<h1>枇杷花茶功效与作用</h1>
<p class="article-resource">中国食品科技网</p>
<p>大家肯定都见过枇杷树，但是肯定很奇怪，枇杷也可以泡着来喝吗？枇杷花茶是什么茶呢？枇杷花茶的英文名为Loquatscentedtea，是由英文名叫loquat的蔷薇科的花制作而成的花茶。枇杷花茶也是一种茶，原料是枇杷花，也是一种很可贵的药用茶。那么枇杷花茶有什么功效与作用呢？</p>
<img src="__PUBLIC__/images/effect.jpg" alt="" />
<p>枇杷花茶的原料是枇杷花，那么枇杷花茶的功效与作用是与枇杷花分不开的，枇杷花茶的功效与作用具体如下：</p>

<div class="ar-block">枇杷花茶功效与作用一</div>
<p>枇杷花茶具有“止渴下气、利肺、止吐逆、去焦热、润五脏”以及“治头风、鼻涕清涕”等功效。枇杷花的“止渴下气、利肺、止吐逆、去焦热、润五脏”以及“治头风、鼻涕清涕”等功效。在《本草纲目》很早就有记载。</p>

<div class="ar-block">枇杷花茶功效与作用二</div>
<p>枇杷花茶具有润喉、润肺、化痰止咳、清火解热、治头痛、伤风、鼻流清涕等功能。对肺部疾病、清热解毒及呼吸道有极好功效作用。</p>

<div class="ar-block">枇杷花茶功效与作用三</div>
<p>枇杷花茶气味清香、微甘，含有多种维生素，具有独特的保健作用。</p>
<p>此外，枇杷中含有丰富的维生素B1、B2、B6、维生素C，孕妇可以适量吃些枇杷的。对于炎热的夏季，枇杷也是不错的选择哟。</p>
<p>以上就是枇杷花茶的功效与作用，枇杷花茶清热解毒，呼吸道有问题时也可以饮用来缓解，很适合现在炎热的夏季，带来一丝清爽。亲们快来试试吧，但是不要过量饮用哟</p>