<extend name="Base/base1"/>
<block name="header"><include file="Public/header"/></block>
<block name="content">
	<div class="content">
		<div class="container">
			<div class="crumb"><a href="{:U('Home/Index/index')}"><span class="glyphicon glyphicon-home"></span>首页</a> >> <span class="glyphicon glyphicon-gift"></span>礼品区</div>
			<div class="condition">
				<div class="conoption resource">产地：<a class="con-current" href="#">不限</a><a href="#">福建</a><a href="#">四川</a></div>
				<div class="conoption inter-price">价格：<a class="con-current" href="#">不限</a><a href="#">100以下</a><a href="#">100~200</a><a href="#">200以上</a></div>
			</div>
			<div class="splitline">
				<a class="sort-current" id="default">默认</a><span class="split">|</span>
				<a id="higher">价格从低到高</a><span class="split">|</span>
				<a id="lower">价格从高到低</a>
			</div>
			<ul class="goodslist fruitlist">
				<form class="addcartform pricedefault" action="{:U('Home/Index/gift')}" method="post">
					<volist name="giftlist.list" id="data">
						<li data-id="{$data['pro_id']}" data-storage="{$data['gstorage']}">
							<a class="detailbtn" data-href="{:U('Home/Index/getdetail')}">
								<img src="__PUBLIC__/images/<?php echo explode(',', $data['pro_img'])[1];?>" alt="枇杷" />
								<p class="goodstitle">{$data['pro_name']}</p>
								<p>{$data['pro_weight']}</p>
								<p class="price">￥{$data['pro_disprice']}</p>
							</a>
							<div class="ml10 fleft">
								<span class="operate decrease"><img src="__PUBLIC__/images/bag_close.gif" alt="数量减少" /></span>
								<span class="number txtcenter">1</span>
								<span class="operate increase"><img src="__PUBLIC__/images/bag_open.gif" alt="数量增加" /></span>
							</div>
							<div class="addcartbtn fright"><img src="__PUBLIC__/images/cart.png" alt="加入到购物车" /></div>
						</li>
					</volist>
					<div class="pagelist">{$giftlist.page}</div>
				</form>
				<!-- 按低到高 -->
				<form class="addcartform pricehigher" action="{:U('Home/Index/gift')}" method="post" style="display:none;">
					<volist name="giftlist.list" id="data">
						<li data-id="{$data['pro_id']}" data-storage="{$data['gstorage']}">
							<a class="detailbtn" data-href="{:U('Home/Index/getdetail')}">
								<img src="__PUBLIC__/images/<?php echo explode(',', $data['pro_img'])[1];?>" alt="枇杷" />
								<p class="goodstitle">{$data['pro_name']}</p>
								<p>{$data['pro_weight']}</p>
								<p class="price">￥{$data['pro_disprice']}</p>
							</a>
							<div class="ml10 fleft">
								<span class="operate decrease"><img src="__PUBLIC__/images/bag_close.gif" alt="数量减少" /></span>
								<span class="number txtcenter">1</span>
								<span class="operate increase"><img src="__PUBLIC__/images/bag_open.gif" alt="数量增加" /></span>
							</div>
							<div class="addcartbtn fright"><img src="__PUBLIC__/images/cart.png" alt="加入到购物车" /></div>
						</li>
					</volist>
					<div class="pagelist">{$giftlist.page}</div>
				</form>
				<!-- 按高到低 -->
				<form class="addcartform pricelower" action="{:U('Home/Index/gift')}" method="post" style="display:none;">
					<volist name="giftlist.list" id="data">
						<li data-id="{$data['pro_id']}" data-storage="{$data['gstorage']}">
							<a class="detailbtn" data-href="{:U('Home/Index/getdetail')}">
								<img src="__PUBLIC__/images/<?php echo explode(',', $data['pro_img'])[1];?>" alt="枇杷" />
								<p class="goodstitle">{$data['pro_name']}</p>
								<p>{$data['pro_weight']}</p>
								<p class="price">￥{$data['pro_disprice']}</p>
							</a>
							<div class="ml10 fleft">
								<span class="operate decrease"><img src="__PUBLIC__/images/bag_close.gif" alt="数量减少" /></span>
								<span class="number txtcenter">1</span>
								<span class="operate increase"><img src="__PUBLIC__/images/bag_open.gif" alt="数量增加" /></span>
							</div>
							<div class="addcartbtn fright"><img src="__PUBLIC__/images/cart.png" alt="加入到购物车" /></div>
						</li>
					</volist>
					<div class="pagelist">{$giftlist.page}</div>
				</form>
			</ul>
			<div class="current-search">
				<p class="curtitle">最近浏览的商品</p>
				<ul class="curlists">
					<volist name="lastlist.list" id="data">
						<li data-id="{$data['pro_id']}">
							<a class="detailbtn" data-href="{:U('Home/Index/getdetail')}">
								<img src="__PUBLIC__/images/<?php echo explode(',', $data['pro_img'])[1];?>" alt="枇杷" />
								<div class="hotright">
									<p>{$data['pro_name']}</p>
									<p class="hot-price">￥{$data['pro_disprice']}</p>
								</div>
							</a>
						</li>
					</volist>
				</ul>
			</div>
			<div class="addtocart txtcenter">
				<p class="addtitle">已成功加入到购物车</p>
				<p>购物车共有<span class="orange hasnum">2</span>件商品，合计：<span class="orange total">￥50</span></p>
				<div class="close"><img src="__PUBLIC__/images/close.png" alt="关闭" /></div>
				<div class="oprea-group">
					<button class="btn btn-default arround">继续逛逛</button>
					<a class="btn btn-default checkout" href="{:U('Home/User/cart')}">去结算</a>
				</div>
			</div>
			<div class="gotop" id="gotopbtn"><img src="__PUBLIC__/images/top.png" alt="回到顶部" /></div>
		</div>
	</div>
</block>
<block name="footer"><include file="Public/footer"/></block>
<block name="javascript">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/myjs.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$('.mainnav a').removeClass('current');
		$('.mainnav #gift').addClass('current');

		/*添加到购物车*/
		$('.addcartbtn').click(function(){
			if($(".loginname").text()){
				$goodsid = $(this).parents('li').attr("data-id");
				$username = $('.loginname').text();
				$pronum = $(this).parents('li').children('.ml10').children('.number').text();
				$action = $('.addcartform').attr('action');
				$curstorage = $(this).parents('li').attr("data-storage");
				if($curstorage - $pronum < 0){
					alert('不好意思，当前库存量不够！');
				}else{
					$.post($action,{username:$username,goodsid:$goodsid,pronum:$pronum},function(data){
						$('.goodsnum').html(data.goodsnum);
						$('.total').html('￥' + data.totalprice);
						$('.addtocart').fadeIn(300).css({'display':"block"});
						setTimeout(function(){
							$('.addtocart').fadeOut(300).css({'display':"none"});
						},1500);
						$('.hasnum').html(data.goodsnum);
						// alert(data);
					});
					// location.reload();
				}
			}else{
				location.href = "/xianpipa/index.php/Home/User/login.html";
			}
		});
		
		/*商品详细*/
		$('.detailbtn').click(function(e){
			$action = $(this).attr('data-href');
			$goodsid = $(this).parent('li').attr('data-id');
			$username = $('.loginname').text();
			// alert($username + " " + $goodsid);
			$.post($action,{username:$username,goodsid:$goodsid},function(data){
				$('.goodsnum').html(data.goodsnum);
				$('.total').html(data.totalprice);
				$('.hasnum').html(data.goodsnum);
				// $('.goodstitle').html(data.proname);
				location.href = "detail.html";
			});
			e.preventDefault();
		});
	});

	/*按价格筛选*/
	$('#default').click(function(){
		$('.splitline a').removeClass('sort-current');
		$(this).addClass('sort-current');
		$('.addcartform').css({'display':'none'});
		$('.pricedefault').css({'display':'block'});
	});
	$('#higher').click(function(){
		$('.splitline a').removeClass('sort-current');
		$(this).addClass('sort-current');
		$('.addcartform').css({'display':'none'});
		$('.pricehigher').css({'display':'block'});
	});
	$('#lower').click(function(){
		$('.splitline a').removeClass('sort-current');
		$(this).addClass('sort-current');
		$('.addcartform').css({'display':'none'});
		$('.pricelower').css({'display':'block'});
	});
	</script>
</block>