w<extend name="Base/base1"/>
<block name="header"><include file="Public/header"/></block>
<block name="content">
	<div class="content">
		<div class="imgshow">
			<div class="container">
				<ul id="banner">
					<li class="current" id="banner01"><img src="__PUBLIC__/images/banner1.png" alt="" /></li>
					<li id="banner02"><img src="__PUBLIC__/images/banner2.png" alt="" /></li>
					<li id="banner03"><img src="__PUBLIC__/images/banner3.png" alt="" /></li>
				</ul>
				<a class="preimg changebtn" id="prebtn"></a>
				<a class="nextimg changebtn" id="nextbtn"></a>
			</div>
		</div>
		<div class="fruit">
			<div class="container">
				<div class="fruit-left fleft">
					<div class="recommend bordertop">
						<div class="blocktop">
							<p class="block-title fleft">鲜果推荐</p>
							<a class="more fright" href="{:U('Home/Index/fruit')}">查看更多>></a>
						</div>
						<ul class="goodslist">
							<!-- 获取鲜果推荐列表 -->
							<volist name="recommendlist.list" id="data">
								<li data-id="{$data['pro_id']}">
									<a class="detailbtn" data-href="{:U('Home/Index/getdetail')}">
										<img src="__PUBLIC__/images/<?php echo explode(',', $data['pro_img'])[1];?>" alt="枇杷" />
										<p class="goodstitle">{$data['pro_name']}</p>
										<p>{$data['pro_weight']}</p>
										<p class="price">￥{$data['pro_disprice']}</p>
									</a>
								</li>
							</volist>
						</ul>
					</div>
					<div class="gift bordertop">
						<div class="blocktop">
							<p class="block-title fleft">送礼佳品</p>
							<a class="more fright" href="{:U('Home/Index/gift')}">查看更多>></a>
						</div>
						<ul class="goodslist">
							<!-- 获取送礼佳品列表 -->
							<volist name="goodslist.list" id="data">
								<li data-id="{$data['pro_id']}">
									<a class="detailbtn" data-href="{:U('Home/Index/getdetail')}">
										<img src="__PUBLIC__/images/<?php echo explode(',', $data['pro_img'])[1];?>" alt="枇杷" />
										<p class="goodstitle">{$data['pro_name']}</p>
										<p>{$data['pro_weight']}</p>
										<p class="price">￥{$data['pro_disprice']}</p>
									</a>
								</li>
							</volist>
						</ul>
					</div>
				</div>
				<div class="fruit-right fright">
					<p class="hotgoods">热销商品</p>
					<ul class="hotlists">
						<volist name="hotlist.list" id="data">
							<li data-id="{$data['pro_id']}">
								<a class="detailbtn" data-href="{:U('Home/Index/getdetail')}">
									<img src="__PUBLIC__/images/<?php echo explode(',', $data['pro_img'])[1];?>" alt="枇杷" style="width:80px;height:70px;" />
									<div class="hotright fright">
										<p>{$data['pro_name']}</p>
										<p class="hot-price">￥{$data['pro_disprice']}</p>
									</div>
								</a>
							</li>
						</volist>
					</ul>
				</div>
			</div>
		</div>
		<div class="gotop" id="gotopbtn"><img src="__PUBLIC__/images/top.png" alt="回到顶部" /></div>
	</div>
</block>
<block name="footer"><include file="Public/footer"/></block>
<block name="javascript">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/myjs.js"></script>
	<script type="text/javascript">
	$('#banner,.changebtn').mouseenter(function(){
		$('.changebtn').css({'display':"block"});
	}).mouseleave(function(){
		$('.changebtn').css({'display':"none"});
	});
	var len = $("#banner li").length;
	$('#nextbtn').click(function(){
		var index = ($('#banner .current').attr('id').toString().slice(7) + 1) % len;
		$('#banner .current').fadeOut('slow');
		$('#banner li').removeClass('current');
		if(index == '0'){
			index = len;
		}
		$('#banner0' + index).fadeIn('slow').addClass('current');/*.animate({"left":"0px"},200)*/
	});

	$('#prebtn').click(function(){
		var index = ($('#banner  .current').attr('id').toString().slice(7) - 1) % len;
		 $('.current').fadeOut('slow');
		$('#banner li').removeClass('current');
		if(index == '0'){
			index = len;
		}
		$('#banner0' + index).fadeIn('slow').addClass('current');
	});

	/*商品详细*/
	$('.detailbtn').click(function(e){
		$action = $(this).attr('data-href');
		$goodsid = $(this).parent('li').attr('data-id');
		$username = $('.loginname').text();
		// alert($username + " " + $goodsid);
		$.post($action,{username:$username,goodsid:$goodsid},function(data){
			$('.goodsnum').html(data.goodsnum);
			$('.total').html(data.totalprice);
			$('.hasnum').html(data.goodsnum);
			// $('.goodstitle').html(data.proname);
			location.href = "detail.html";
		});
		e.preventDefault();
	});
	</script>
</block>