<extend name="Base/base1"/>
<block name="header"><include file="Public/header"/></block>
<block name="content">
	<div class="content">
		<div class="container">
			<div class="crumb"><a href="{:U('Home/Index/index')}"><span class="glyphicon glyphicon-home"></span>首页</a> >> <span class="glyphicon glyphicon-book"></span>果食</div>
			<div class="article fleft" id="loadarticle">
				<h1>维C到底能不能预防感冒？破解维生素C的5大谣言！</h1>
				<p class="article-resource">fday</p>
				<div class="ar-block">谣言1</div>
				<p>吃完海鲜不能吃维生素C，会中毒。</p>
				<div class="ar-block">真相</div>
				<p>吃完海鲜可以吃维生素C，不会中毒。</p>
				<p>谣言产生是由于海鲜中有无机砷，而无机砷+维生素C会发生化学反应转变成三价砷（也就是砒霜）。</p>
				<p>对于健康成年人来说，砒霜的致死量约为100~300mg。按100mg砒霜来算，其砷元素含有量为75mg，按照我国国家标准虾蟹中无机砷含量不能超过0.5mg/kg来推算，你需要吃下150公斤虾（按照无机砷含量上限计算）才足以被毒死。</p>
				<p>所以，通过这样的方式被毒死之前，其实你已经撑死了。</p>
				<img src="__PUBLIC__/images/640.png" alt="" />

				<div class="ar-block">谣言2</div>
				<p>牙龈出血是因为缺乏维生素C</p>
				<div class="ar-block">真相</div>
				<p>牙龈出血不一定是因为缺乏维生素C。</p>
				<p>日常饮食中的果蔬牛奶等食物中都含有维生素C，所以一般人不会因缺乏维生素C而导致牙龈出血。绝大多数的牙龈出血都是牙龈炎的表现，除了极少部分可能是因为血液病等全身疾病。</p>
				<img src="__PUBLIC__/images/641.png" alt="" />

				<div class="ar-block">谣言3</div>
				<p>不能用热水泡柠檬，会损失维生素C。</p>
				<div class="ar-block">真相</div>
				<p>用热水泡柠檬没那么容易损失维生素C。</p>
				<p>柠檬酸性较强，而维生素C在酸性条件下耐热性很好，没那么容易损失，即使水温度超过60℃也没问题。</p>
				<img src="__PUBLIC__/images/642.png" alt="" />

				<div class="ar-block">谣言4</div>
				<p>手指长倒刺是因为缺乏维生素C</p>
				<div class="ar-block">真相</div>
				<p>单纯的手指长倒刺一般和缺乏维生素无关。</p>
				<p>维生素缺乏的确可能引起一些皮肤问题，但多伴有其它症状（比如缺乏维生素A可导致毛囊过度角化，但同时还可能引起眼部及视力异常）。所以单纯手指指甲周围长倒刺一般是由于物理摩擦或洗手过多所致，绝大多数都和缺乏维生素无关。</p>
				<img src="__PUBLIC__/images/643.png" alt="" />

				<div class="ar-block">谣言5</div>
				<p>补充维生素C能预防感冒</p>
				<div class="ar-block">真相</div>
				<p>补充维生素C不能预防感冒。</p>
				<p>感冒分为普通感冒和流行性感冒，两者的致病原因和发病规律都不同。普通感冒通常不吃药也能好；但流感就需要及时医治。</p>
				<p>谣言中的“感冒”是指普通感冒。大量科学研究都已证实大剂量维生素C并不能降低普通感冒发病率。但多吃水果补充维生素Ｃ确实可以提高身体免疫力。</p>
				<p>虽然很多问题不能归结于维生素C缺乏，但是维生素C确实是人体必须的。平时多吃水果蔬菜，补充维生素C，提高身体免疫力。</p>
				<img src="__PUBLIC__/images/644.png" alt="" />
			</div>
			<div class="other-article fright">
				<h5><span class="glyphicon glyphicon-tags"></span>水果百科</h5>
				<ul>
					<li id="howto">
						<img src="__PUBLIC__/images/howto.jpg" alt="" />
						<p class="article-title">枇杷快速剥皮的方法</p>
						<p class="article-resource">中国吃网原创</p>
					</li>
					<li id="effect">
						<img src="__PUBLIC__/images/effect.jpg" alt="" />
						<p class="article-title">枇杷花茶功效与作用</p>
						<p class="article-resource">中国食品科技网</p>
					</li>
					<li id="add">
						<img src="__PUBLIC__/images/7.jpg" alt="" />
						<p class="article-title">立秋养生小知识：吃枇杷给肺“补水”</p>
						<p class="article-resource">百度百科</p>
					</li>
				</ul>
			</div>
			<div class="gotop" id="gotopbtn"><img src="__PUBLIC__/images/top.png" alt="回到顶部" /></div>
		</div>
	</div>
</block>
<block name="footer"><include file="Public/footer"/></block>
<block name="javascript">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/myjs.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$('.mainnav a').removeClass('current');
		$('.mainnav #knowledge').addClass('current');
		
		/*加载水果百科*/
		$('.other-article li').click(function(){
			var page = $(this).attr('id');
			$('#loadarticle').load(page + '.html');
		});
	});
	</script>
</block>