<extend name="Base/base1"/>
<block name="header"><include file="Public/header"/></block>
<block name="content">
	<div class="content">
		<div class="container">
			<div class="crumb"><a href="{:U('Home/Index/index')}"><span class="glyphicon glyphicon-home"></span>首页</a> >> <span class="glyphicon glyphicon-cutlery"></span>鲜果区</div>
			<div class="condition">
				<div class="conoption resource" data-url="">产地：
					<a href="{:U('Home/Index/fruit')}">不限</a>
					<a href="{:U('Home/Index/fjproduce')}">福建</a>
					<a class="con-current" href="{:U('Home/Index/scproduce')}">四川</a>
				</div>
				<div class="conoption inter-price" data-url="">价格：
					<a class="con-current" href="#">不限</a>
					<a href="#">100以下</a>
					<a href="#">100~200</a>
					<a href="#">200以上</a>
				</div>
			</div>
			<div class="splitline">
				<a class="sort-current" href="#">默认</a><span class="split">|</span>
				<a href="#">价格从低到高</a><span class="split">|</span>
				<a href="#">价格从高到低</a>
			</div>
			<ul class="goodslist fruitlist">
				<form class="addcartform" action="{:U('Home/Index/fruit')}" method="post">
					<volist name="choselist.list" id="data">
						<li data-id="{$data['pro_id']}">
							<a class="detailbtn" data-href="{:U('Home/Index/getdetail')}">
								<img src="__PUBLIC__/images/<?php echo explode(',', $data['pro_img'])[1];?>" alt="枇杷" />
								<p class="goodstitle">{$data['pro_name']}</p>
								<p>{$data['pro_weight']}斤装</p>
								<p class="price">￥{$data['pro_price']}</p>
							</a>
							<div class="ml10 fleft">
								<span class="operate decrease"><img src="__PUBLIC__/images/bag_close.gif" alt="数量减少" /></span>
								<span class="number txtcenter">1</span>
								<span class="operate increase"><img src="__PUBLIC__/images/bag_open.gif" alt="数量增加" /></span>
							</div>
							<div class="addcartbtn fright"><img src="__PUBLIC__/images/cart.png" alt="加入到购物车" /></div>
						</li>
					</volist>
					<div class="pagelist">{$choselist.page}</div>
				</form>
			</ul>
			<div class="current-search">
				<p class="curtitle">最近浏览的商品</p>
				<ul class="curlists">
					<volist name="lastlist.list" id="data">
						<li data-id="{$data['pro_id']}">
							<a class="detailbtn" data-href="{:U('Home/Index/getdetail')}">
								<img src="__PUBLIC__/images/<?php echo explode(',', $data['pro_img'])[1]; ?>" alt="枇杷" />
								<div class="hotright">
									<p>{$data['pro_name']}</p>
									<p class="hot-price">￥{$data['pro_price']}</p>
								</div>
							</a>
						</li>
					</volist>
				</ul>
			</div>
			<div class="addtocart txtcenter">
				<p class="addtitle">已成功加入到购物车</p>
				<p>购物车共有<span class="orange hasnum"><?php echo session('goodsnum');?></span>件商品，合计：<span class="orange total">￥<?php echo session('totalprice');?></span></p>
				<div class="close"><img src="__PUBLIC__/images/close.png" alt="关闭" /></div>
				<div class="oprea-group">
					<button class="btn btn-default arround">继续逛逛</button>
					<a class="btn btn-default checkout" href="{:U('Home/User/cart')}">去结算</a>
				</div>
			</div>
			<div class="gotop" id="gotopbtn"><img src="__PUBLIC__/images/top.png" alt="回到顶部" /></div>
		</div>
	</div>
</block>
<block name="footer"><include file="Public/footer"/></block>
<block name="javascript">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/myjs.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$('.mainnav a').removeClass('current');
		$('.mainnav #fruit').addClass('current');

		/*添加到购物车*/
		$('.addcartbtn').click(function(){			
			$goodsid = $(this).parents('li').attr("data-id");
			$username = $('.loginname').text();
			$action = $('.addcartform').attr('action');
			$.post($action,{username:$username,goodsid:$goodsid},function(data){
				$('.goodsnum').html(data.goodsnum);
				$('.total').html('￥' + data.totalprice);
				$('.addtocart').fadeIn(300).css({'display':"block"});
				setTimeout(function(){
					$('.addtocart').fadeOut(300).css({'display':"none"});
				},1500);
				$('.hasnum').html(data.goodsnum);
				// alert(data);
			});
			// location.reload();
		});
		
		/*商品详细*/
		$('.detailbtn').click(function(e){
			$action = $(this).attr('data-href');
			$goodsid = $(this).parent('li').attr('data-id');
			$username = $('.loginname').text();
			// alert($username + " " + $goodsid);
			$.post($action,{username:$username,goodsid:$goodsid},function(data){
				$('.goodsnum').html(data.goodsnum);
				$('.total').html(data.totalprice);
				$('.hasnum').html(data.goodsnum);
				// $('.goodstitle').html(data.proname);
				location.href = "detail.html";
			});
			e.preventDefault();
		});
	});
	</script>
</block>