<div class="footer txtcenter">
	<div class="footer-nav">
		<a href="{:U('Home/User/help')}">友情链接</a>
		<a href="{:U('Home/User/help')}">关于天天鲜果</a>
		<a href="{:U('Home/User/help')}">问题与帮助</a>
		<a href="{:U('Home/User/help')}">联系我们</a>
		<a href="{:U('Admin/Index/login')}">后台管理</a>
	</div>
	<div class="copyright">
		<p>版权所有 © 2015天天鲜果 保留所有权利 | <a>站长统计</a></p>
		<p>天天鲜果&nbsp;&nbsp;&nbsp;&nbsp;鲜果网购</p>
	</div>
</div>