<div class="top-nav">
	<div class="container">
		<div class="tn-left"><p>您好，欢迎来到天天鲜果！<?php echo $today;?></p></div>
		<div class="tn-right">
			<span class="thisname">您好，<span class="loginname"><?php echo session('user_name');?></span><span class="split">|</span></span>
			<a class="loginbtn" href="{:U('Home/User/login')}">[登录]<span class="split">|</span></a>
			<a class="registerbtn" href="{:U('Home/User/register')}">[注册]<span class="split">|</span></a>
			<a class="exitbtn" href="{:U('Home/User/exitthis')}">[退出]<span class="split">|</span></a>
			<a class="myfruit" href="{:U('Home/User/myfruit')}">我的果园</a>
		</div>
	</div>
</div>
<div class="user-header">
	<div class="container">
		<a class="logo fleft" href="{:U('Home/Index/index')}"><img src="__PUBLIC__/images/logo.png" alt="logo" /></a>
		<div class="search fleft"><input class="form-control searchinput fleft" type="text" placeholder="请输入要搜索的内容"><button class="btn btn-default searchbtn fleft">搜索</button></div>
		<a class="fright mycart">
			<img class="myhover" src="__PUBLIC__/images/hover.png" alt="购物车" />
			<span class="goodsnum"><?php echo session('goodsnum');?></span>
		</a>
	</div>
</div>
<div class="mainnav" data-action="{:U('Home/Index/index')}">
	<div class="container">
		<a class="current ml100" id="index" href="{:U('Home/Index/index')}">首页</a>
		<a id="fruit" href="{:U('Home/Index/fruit')}">鲜果区</a>
		<a id="gift" href="{:U('Home/Index/gift')}">礼品区</a>
		<a id="knowledge" href="{:U('Home/Index/knowledge')}">果食</a>
	</div>
</div>