<div class="top-nav">
	<div class="container">
		<div class="tn-left"><p>您好，欢迎来到天天鲜果！<?php echo $today;?></p></div>
		<div class="tn-right">
			<span class="thisname">您好，<span class="loginname"><?php echo session('user_name');?></span><span class="split">|</span></span>
			<a class="loginbtn" href="{:U('Home/User/login')}">[登录]<span class="split">|</span></a>
			<a class="registerbtn" href="{:U('Home/User/register')}">[注册]<span class="split">|</span></a>
			<a class="exitbtn" href="{:U('Home/User/exitthis')}">[退出]<span class="split">|</span></a>
			<a class="myfruit" href="{:U('Home/User/myfruit')}">我的果园</a>
		</div>
	</div>
</div>
<div class="user-header">
	<div class="container">
		<a class="logo fleft" href="{:U('Home/Index/index')}"><img src="__PUBLIC__/images/logo.png" alt="logo" /></a>
		<a class="fright mycart">
			<img class="myhover" src="__PUBLIC__/images/hover.png" alt="购物车" />
			<span class="goodsnum"><?php echo session('goodsnum');?></span>
		</a>
	</div>
</div>