@charset "UTF-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0;padding:0;}
body {margin: 0;font-family: 'Microsoft Yahei',arial,"Hiragino Sans GB",sans-serif;font-size: 14px;color: #000;background-color:#fff;position: relative;}
img{border:0px;}
a, a:visited{text-decoration:none;}
a{cursor: pointer;}
ul,li,li ul{list-style:none;}
/*--clearfix---*/
html,body{height: 100%;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
.clearfix {display:block;}
/*--clearfix---*/
.clear{clear:both;}
.txtcenter{text-align: center;}
.fleft{float: left;}
/* CSS Document */
#loginpage{background:url('../images/login/randombga.jpg') center no-repeat;}
#login{width:100%;position:absolute;top:20%;}
.main{width:960px;margin:0px auto;height:316px;}
.logbox{width:418px;height:316px;background:#fff; position:relative;left:271px;}

.header {height:50px; background:#3c4145;color:#fff; border-bottom: 1px solid #E2E2E2;position: relative;font-family: 'Microsoft Yahei',"Hiragino Sans GB";padding: 10px 0 0 20px;line-height:50px;font-size: 22px;}
.web_login {width: 418px;position: relative;padding-bottom: 40px;}
#loginform{width: 272px;margin: 0 auto;}
.inputOuter {width: 272px;height: 42px;background: url('../images/logo/icon_1.png') no-repeat 0px 1px;margin:20px 0px;}
.inputstyle {width: 258px;position: relative;top: 2px;left: 2px;height: 18px;padding: 11px 0 11px 10px;line-height: 18px;border: none;background: none;color: #333;font-family: 'Microsoft Yahei',Verdana,Tahoma,Arial;font-size: 16px;ime-mode: disabled;}
.submit {position: relative;height: 40px;}
.login_button {position: absolute;left: 0;outline: none;}
.login_button .btn {width: 115px;height: 35px;line-height: 35px;border: none;font-size: 18px;font-weight: bold;color: white;cursor: pointer;background: url('../images/logo/icon_1.png') no-repeat 1px -88px;}

#loginpage .footer{position: relative;height:25px;line-height:25px; text-align:right;}
#loginpage .footer a{margin:0px 10px;font-family: 'Microsoft Yahei',Tahoma,Verdana,Arial,宋体;color:#666;font-size: 12px;}
#loginpage .footer a:hover{margin:0px 10px;font-family: 'Microsoft Yahei',Tahoma,Verdana,Arial,宋体;color:#3185ae;font-size: 12px;}

#sysmain{background:url('../images/admin_bg.JPG') center no-repeat;overflow: auto;}
#sysmain .content{width:99%;height:100%;background:#fff;margin: 0 auto;}
#sysmain .content .syshead{height:84px;line-height:84px;background-color: #fff;padding:10px 20px;border-bottom: 1px solid #ccc;}
.syshead p.left{float:left;width:263px; height:84px;}
.syshead p.right{float:right;width:200px;height:84px;line-height:84px;}
.syshead p.right span{color:#000;margin:0px 5px;}
.syshead p.right a{margin-left: 15px;}
.syshead p.right a.outsys{color:#000;}
.syshead p.right a.outsys img{vertical-align:middle;margin-right:2px;}
.sysmain{height:540px;}
.sysmenua{float:left;width:12%;height:100%;background-color: #fff;border-right: 1px solid #ccc;}
.sysmenua li{width:100%;background-color: #fff;color:#000;display:inline-block;cursor: pointer;}
.sysmenua .current{border-left:4px solid #f60;background-color:#eee;color:#f60;}
.lista{display: block;width: 83%;padding-left: 15%;}
.lista,.left-nav li{height: 48px;line-height: 48px;}
.sysmenub{float:left;width:135px;height:100%;background:#e6e7e9;border-left:1px solid  #D1D6D9;}/*#d2d6d9 #117a9a*/
p.smenubtit{color:#117a9a;width:179px;height:60px;border-bottom:1px solid #D1D6D9;font-size:20px;line-height:60px;padding-left:20px;margin-bottom:10px;}
.sysmenub li{width:179px;height:36px;border-left:4px solid #e6e7e9;padding-left:16px;color:#969897;display:block;line-height:36px;}
.sysmenub li:hover{width:179px;height:36px;border-left:4px solid #107999;padding-left:16px;color:#107999;display:block;line-height:36px;background:#d2d6d9;}
li .current{border-left:4px solid #107999;color:#107999;background:#d2d6d9;}

.sysinfo{float:left;width:100%;height:100%;background:#fff;}
.sinfotit{height:48px;font-size:2em;line-height:48px;padding-left:20px;font-weight: bold;}
.exec{height:58px;}
.execact{height:25px;line-height:25px;}

.sysinfo input[type=checkbox]{ display:none;}
#selectall{cursor:pointer;}
img.chk{cursor:pointer;}
.execbtn{height:25px;color:#fff;line-height:21px;padding:2px 10px;background:#a5cd52;-webkit-border-radius: 2px;border-radius:2px;border-left:0px;border-top:0px;border-right:0px; border-bottom:1px;margin:0px 10px;cursor:pointer;}
.execbtn:hover{background:#c1dd88;}

.execck{height:16px;width:16px;padding:8px;background:url('../images/index/ck_up.gif') no-repeat;margin:0px 10px;cursor:pointer;}
.execck:hover{background:url('../images/index/ck_down.gif') no-repeat;}
.table{background-color: white;border-spacing: 1px;}
.table tbody tr td:first-child{font-weight: bold;}
th,td{padding: 10px 15px;}
.table thead{background-color: #d2d6d9;text-align: center;}
.table tbody{text-align: left;background-color: #e6e7e9;}
#trends-about p:not(:first-child){margin-left: 30px;font: normal 15px Microsoft Yahei;width: 880px;padding: 5px 0px;}
#permes{margin: 40px 50px;}
#permes p{padding:10px 0px;}
#r-content{height: 100%;width: 87.9%;float: left;background-color: #fff;overflow-y: auto;}
.sysinfo form{margin-left: 18px;line-height: 35px;}
#container{width: 600px;}
/*input[type=submit]{width: 100px;height: 30px;background-color: rgb(17, 139, 186);border-radius: 5px;border: none;color: white;font: normal 15px microsoft yahei;}*/
#table{margin-top: 20px;margin-left: 20px;border-spacing: 0px;}
#table td,th{padding: 10px;text-align: center;}
#table thead{background-color: #DCDCDC;}
#table tr{border-top:1px solid #DCDCDC;}
#admin_ID{width:70px;}
#admin_title{width:650px;}
#admin_operation{width: 195px;}
#table a{margin-left:5px;margin-right: 5px;}
#table span{cursor:pointer;}
.backbtn{position: absolute;right: 100px;top: 150px;}
.admin_form{height:581px;overflow-x:hidden;overflow-y:auto;"}
.submenu{display: none;margin-left: 20px;}
.submenu li{width: 85%;padding-left: 15%;}
.lista:hover,.left-nav li:hover{border-left:4px solid #f60;background-color:#eee;color:#f60;}
.width28{width: 28%;}
.width5{width: 5%;}
.width12{width: 12%;text-align: center;}
.goodsblock{padding: 10px 30px;}

/*登陆页面*/
.loginform{width: 400px;margin: 150px auto 0 auto;}
.loginform .logo{text-align: center;margin-bottom: 50px;}
.crumbs{margin: 20px;}
.btitle{display: inline-block;border-bottom: 1px solid #ccc;padding: 10px 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;background-color: #eee;cursor: pointer;}
.menu-current{border-bottom: none;background-color: #f60;color: #fff;}
.block{display: none;padding: 20px;}
.bcurrent{display: block;}
.b-menulists{padding-left: 30px;}
.operate,.crumbs{margin: 20px;}
.operate a{margin-left: 10px;}
.publish-form{padding-left: 100px;}
.publish-form input[type="text"]{width: 250px;height: 22px;}
#special{width: 255px;height: 26px;}
.publish-form .error{display: none;font-size: 12px;color: #f02;margin-left: 20px;}
.label{width: 70px;min-height:10px;text-align: right;display: inline-block;margin-right: 10px;}
.publish-form .row{margin-bottom: 12px;position: relative;overflow: hidden;}
.unit{position: absolute;right: 72%;top: 3px;}
.imgtips{font-size: 8px;margin: 10px 0 0 20px;display: inline-block;}
.publishnow{display: inline-block;width: 100px;height: 30px;line-height: 30px;border: none;background-color: #f60;color: #fff;border-radius: 8px;margin: 30px 0 0 330px;text-align: center;}
.adminupdate,.savepwd{width: 100px;height: 25px;line-height: 25px;text-align: center;border: none;background-color: #f60;color: #fff;border-radius: 6px;margin-left: 30px;}
.qqconsule{color: #f60;margin-left: 10px;}
.qqconsule:hover{text-decoration: underline;}
/*.otherimgs{width: 100%;overflow: hidden;}
.threeblock{width: 31%;margin-right: 10px;float: left;}*/