@charset "utf-8";
/* =======css reset======= */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, big, em, font, img, strong, tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td{padding: 0; margin: 0; }
table{border-collapse:collapse; border-spacing:0;}
fieldset, img{border:0;}
button,input,select,textarea{font-size:12px;}
ol,ul,li{list-style:none}
/* =======public======= */
a,a:link{outline:none;color: #000;}
a{text-decoration:none;}
html,body{min-width: 1100px;height: 100%;-webkit-text-size-adjust: none;}
body{width: 100%;margin: 0 auto;font-family:"微软雅黑","宋体","Arial Narrow",HELVETICA;overflow: auto;}
.txtcenter{text-align: center;}
.fleft{float: left;}
.fright{float: right;}
/*首页*/
.wrapper{position: relative;}
.top-nav{width: 100%;height: 30px;line-height: 30px;overflow: hidden;border-bottom: 1px solid #ccc;}
.container{width: 1100px;margin: 0 auto;padding: 0;position: relative;overflow: hidden;}
.tn-left{float: left;}
.tn-right{float: right;}
.tn-right a{color: #000;}
.split{margin: 0 5px 0 10px;}
.user-header{width: 100%;height: 105px;margin-bottom: 20px;}
.logo{line-height: 105px;}
.search{width: 450px;margin: 35px 0 35px 100px;overflow: hidden;}
.searchinput{border: 2px solid #f60;width: 75%;border-radius: 0;}
.searchbtn{display: inline-block;background-color: #f60;height: 34px;width: 25%;text-align: center;color: #fff;border-radius: 0;}
.btn:hover{background-color: #f60;}
.myhover{margin-top: 35px;}
.mainnav{width: 100%;height: 50px;line-height: 50px;margin: 0 auto;background-color: #f4ecdc;}
.mainnav a{display: inline-block;height: 50px;padding: 0 20px;color: #6a3906;font-size: 18px;font-weight: 600;margin-right: 20px;}
.mainnav .current,.mainnav a:hover{text-decoration: none;background-color: #efe5cd;}
.ml100{margin-left: 160px;}
.ml10{margin-left: 10px;}
.ml20{margin-right: 30px;}
.content{margin-bottom: 50px;}
/*轮播图*/
.imgshow{width: 100%;height: 400px;overflow: hidden;}
#banner{width: 3300px;overflow: hidden;position: relative;}
#banner li{display: none;/*float: left;position: relative;*/}
#banner .current{display: block;/*left: 0;*/}
.changebtn{display: none;position:absolute;top: 150px;width: 40px;height: 100px;cursor: pointer;opacity: 0.6;}
.preimg{left: 20px;background: url(../images/btn.gif) 0 0;}
.nextimg{right: 20px;background: url(../images/btn.gif) 40px 0;}
.gotop{display: none;position: fixed;right: 3%;top: 450px;}

.mycart{position: relative;}
.goodsnum{position: absolute;top: 38px;left: 20px;font-size: 12px;color: #fff;display: inline-block;width: 18%;text-align: center;}
.fruit{width: 100%;}
.fruit-left{width: 860px;}
.bordertop{border-top: 3px solid #f60;margin-top: 20px;}
.goodslist li{display: inline-block;cursor: pointer;margin: 0 1px 15px 0;border: 2px solid #eee;padding: 3px 3px 20px 3px;}
.goodslist a{text-decoration: none;color: #000;}
.goodslist li:hover{border: 2px solid #f60;}
.block-title{color: #6a3906;font-size: 16px;font-weight: bold;margin: 10px 0;}
.number{display: inline-block;width: 50px;height: 22px;line-height: 22px;border: 1px solid #ccc;margin: 2px -5px;}
.price{font-size: 20px;color: #f60;font-weight: bold;margin-bottom: 10px;}
.goodstitle{margin-top: 10px;font-size: 14px;}
.blocktop{width: 100%;overflow: hidden;}
.more{margin-top: 10px;color: #000;text-decoration: underline;}
.fruit-right{width: 230px;margin-top: 20px;padding-bottom: 30px;border: 1px solid #ccc;}
.hotgoods{width: 100%;height: 30px;line-height: 30px;background-color: #eee;padding-left: 20px;font-weight: bold;}
.hotlists{padding-bottom: 20px;}
.hotlists li{margin: 10px 10px;border: 2px solid #eee;padding: 5px;cursor: pointer;}
.hotlists li:hover{border: 2px solid #f60;}
.borderbottom{border-bottom: 1px dashed #ccc;}
.hotright{font-size: 12px;margin: 10px 0 0 0;}
.hot-price{color: #f60;margin-top: 10px;font-size: 14px;font-weight: bold;}
.operate img{margin-bottom: 5px;}
.detailbtn img{width: 200px;height: 180px;}
.infoform .address-block{display: none;}

/*鲜果区*/
.crumb{margin: 10px 0 20px 0;}
.condition{border: 1px solid #ccc;padding: 20px 10px;}
.conoption{width: 100%;border-bottom: 1px dashed #ccc;padding: 15px 0;}
.conoption a{padding: 5px 10px;margin-left: 5px;}
.con-current,.sort-current,.resource a:hover,.inter-price a:hover{background-color: #f60;color: #fff;}
.fruitlist{width: 100%;margin: 0 auto;}
.fruitlist li{margin: 5px 6.7px 15px 0;}
.splitline{border-top: 2px solid #f60;margin: 10px 0;text-align: right;}
.splitline a{display: inline-block;margin-top: 8px;padding: 0 5px;cursor: pointer;}
.current-search{width: 100%;border: 1px solid #ccc;}
.curtitle{background-color: #eee;padding: 10px;font-size: 16px;font-weight: bold;}
.curlists{padding: 0 30px;}
.curlists li{display: inline-block;margin: 10px;border: 2px solid #eee;padding: 9px;cursor: pointer;}
.curlists img{width: 130px;height: 130px;}

/*果食*/
.article{width: 70%;}
.article h1{color: #f60;margin: 20px 0;}
.ar-block{width: 650px;padding: 15px 20px;margin: 10px 0;font-weight: bold;border-bottom: 1px solid #ccc;border-left: 8px solid #eee;font-style: italic;}
.article p{line-height: 26px;margin-bottom: 10px;}
.article img{border: 1px solid #ccc;padding: 3px;margin-bottom: 10px;}
.other-article{width: 26%;margin-left: 3%;}
.other-article li{border: 1px solid #ccc;padding: 3px;cursor: pointer;overflow: hidden;text-align: center;}
.other-article img{width: 96%;height: 96%;overflow: hidden;border: 3px solid #eee;}
.other-article img:hover{transform: scale(1.05,1.05);-ms-transform: scale(1.05,1.05);-webkit-transform: scale(1.05,1.05);-o-transform: scale(1.05,1.05);-moz-transform: scale(1.05,1.05);}
.other-article h5{margin-bottom: 15px;}
.article-title{font-size: 14px;font-weight: bold;margin-top: 15px;}
.article-resource{font-size: 10px;color: #aaa;text-align: right;margin: 10px 20px 10px 0;}

/*商品详情*/
.detaillists li{display: inline-block;}
.detaillists li img{width: 85px;height: 85px;border: 1px solid #ccc;padding: 4px;margin: 5px 2px;}
.detail-left,.detail-bottom{width: 840px;margin-bottom: 25px;}
.detail-right{width: 230px;margin-left: 30px;border: 1px solid #ccc;}
.detail-info{width: 420px;margin-left: 50px;}
.info-title{font-size: 16px;font-weight: bold;margin-bottom: 30px;}
.info-block{padding: 20px 50px;border-bottom: 1px dashed #ccc;overflow: hidden;line-height: 36px;}
.detail-menu{width: 100%;border-bottom: 1px solid #ccc;}
.detail-menu li{display: inline-block;padding: 10px 25px;cursor: pointer;}
.detail-menu a{font-weight: bold;text-decoration: none;}
.detail-menu .current{background-color: #898989;color: #fff;}
#detail p{padding: 0 25px;margin-top: 20px;}
.bottomline{border-bottom: 2px solid #ccc;margin-top: 10px;}
#detail img{margin: 10px;}
#comment{margin-top: 20px;}
#detailmenu{width: 840px;position: static;background-color: #fff;}
.detail-block,.order-block,.help-block{display: none;}
.detail-location,.cur-myorder,.help-block .current,.account-right .current,.mycartblock .current{display: block;}
.commentright{border-bottom: 1px solid #ccc;width: 85%;padding: 10px 0 10px 20px;}
.com-user{font-size: 16px;font-weight: bold;margin-bottom: 6px;}
.com-time{font-size: 12px;margin-left: 200px;color: #aaa;}
.curlists .detailbtn,.hotlists .detailbtn{display: inline-block;}
.curlists .detailbtn:hover,.hotlists .detailbtn:hover{text-decoration: none;color: #000;}

/*我的果园*/
.account{width: 150px;margin: 20px 20px 0 0;border: 1px solid #ccc;padding-bottom: 100px;}
.account p{background-color: #eee;padding: 10px 30px;font-size: 16px;font-weight: bold;border-bottom: 1px solid #ccc;}
.account li{height: 50px;line-height: 50px;padding-left: 30px;font-size: 14px;font-weight: bold;cursor: pointer;}
.account li:hover{background-color: #eee;}
.lasttime{margin: 20px 0 40px 0;}
.myform{width: 45%;padding-left: 50px;}
#logintime{font-weight: bold;}
.account-block{display: none;width: 100%;margin-top: 20px;}
.account-right{width: 930px;}
.accountorder-right{display: none;}
.ordercurrent{display: block;}
.address-operate a{color: #f60;margin-left: 20px;}
.add-address{width: 100%;padding: 40px 100px 40px 50px;border: 1px solid #ccc;}
.myform label,.add-address label{text-align: right;}
.hasaddress{overflow: hidden;margin: 10px 0 20px 0;}
.hasaddress li{overflow: hidden;margin-bottom: 10px;}
.addbtn{margin-bottom: 10px;}
.submitinfo{width: 150px;background-color: #f60;color: #fff;margin: 20px 0 0 114px;}
.myorder-menu{margin-bottom: 10px;border-bottom: 1px solid #ccc;}
.myorder-menu li{display: inline-block;padding: 5px 25px;background-color: #eee;color: #000;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.myorder-menu .myorder-current,.myorder-menu li:hover{background-color: #f60;color: #fff;}
.ordertable thead{background-color: #eee;}
.orderinfo{width: 100%;padding: 5px 10px;background-color: #eee;overflow: hidden;}
.width28{width: 28%;}
.width12{width: 12%;text-align: center;}
.ordertable tr{border: 1px solid #ccc;}
.curtags{padding-top: 10px;font-size: 16px;font-weight: bold;border-top: 2px solid #eee;}
.account-main{border: 1px solid #ccc;}
.blocktitle{height: 40px;line-height: 40px;background-color: #eee;padding: 0 10px;}
.blockcontent{padding: 30px 50px;}
.blockcontent p{line-height: 30px;}
#ordertable .operate img {margin-right: 5px;}

/*添加到购物车*/
.addtocart{display: none;position: fixed;top: 35%;left: 38%;width: 400px;margin: 0 auto;padding: 20px 30px;border: 2px solid #f60;background-color: #fff;}
.close{position: absolute;top: 5px;right: 10px;}
.oprea-group{border-top: 2px solid #f60;margin-top: 20px;padding: 30px 0 10px 30px;}
.oprea-group .btn{width: 110px;margin: 0 10px;}
.arround{border: 2px solid #f60;}
.checkout,.checkout:hover,.submitorder,.submitorder:hover{background-color: #f60;color: #fff;}
.orange{font-size: 22px;font-weight: bold;margin: 0 5px;color: #f60;}
.addtitle{color: #f60;font-size: 20px;margin-bottom: 6px;}

/*购物车*/
.mycartblock{border: 1px solid #ccc;}
.current-process{padding: 0 30px;line-height: 120px;overflow: hidden;}
.process-title{font-size: 20px;font-weight: bold;}
.processimg{width: 400px;height: 60px;margin-top: 30px;}
.cartimg{background: url(../images/carting.jpg) 0 0;}
.checkimg{background: url(../images/carting.jpg) 0 130px;}
.payimg{background: url(../images/carting.jpg) 0 56px;}
.cartlists{margin-bottom: 30px;}
.cart-operate{width: 100%;padding-left: 70%;margin-bottom: 30px;}
.orangeborder{border: 1px solid #ccc;padding: 10px 20px;margin-top: 10px;}
.infoform,.payform{width: 70%;padding-left: 50px;}
.required{color: #f20;margin-right: 5px;}
.address-block{margin: 10px 20px;}
.border-title{font-size: 16px;font-weight: bold;margin-bottom: 20px;}
.update,.backupdate{color: #36c;margin-left: 20px;cursor: pointer;}
.save{width: 120px;background-color: #f60;color: #fff;margin-top: 20px;}
.way{margin: 0px 30px 10px 0px !important;padding: 3px 0px 3px 13px;width: 170px;border: 1px solid #ddd;cursor: pointer;}
.payform{display: none;}
.selectall{cursor: pointer;}
.txtright p{text-align: right;line-height: 24px;margin-right: 20px;}
.leftp{margin-top: 30px;}
.leftp p{line-height: normal;}
.paynow{padding: 10px 30px 50px 30px;}
.have{padding-left: 20px;}
#process p{margin-top: 20px;color: #000;}

/*放大镜*/
.zoomDiv{z-index: 999;position: absolute;top: -100px;left: 0px;width: 200px;height: 200px;background: #ffffff;border: 1px
solid #CCCCCC;display: none;text-align: center;overflow: hidden;} 

/*分页*/
.pagelist{margin: 50px 0;text-align: center;}
.pagelist span,.pagelist a{padding: 6px 16px;border: 1px solid #ddd;}
.pagelist span:hover,.pagelist a:hover,.pagelist .current{background-color: #eee;}
.exitbtn,.thisname{display: none;}
.table td{line-height: 70px !important;}
.nothingtips{display: none;margin: 50px 0;font-size: 16px;}
.nothingtips a{color: #f60;margin-left: 10px;}

.footer{width: 100%;min-width: 1100px;}
.footer-nav{background-color: #dedede;height: 50px;line-height: 50px;margin-bottom: 10px;}
.footer-nav a{margin-right: 20px;color: #333;}
.copyright{margin-bottom: 10px;}
.copyright,.copyright a{color: #a0a0a0;}
.error{display: none;font-size: 12px;color: #f02;margin-left: 110px;}
.infoerror{display: none;font-size: 12px;color: #f02;}
.nopadding{padding: 2px !important;}