@charset "utf-8";
/* =======css reset======= */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, big, em, font, img, strong, tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td{padding: 0; margin: 0; }
table{border-collapse:collapse; border-spacing:0;}
fieldset, img{border:0;}
button,input,select,textarea{font-size:12px;}
ol,ul,li{list-style:none}
/* =======public======= */
a,a:link{outline:none;}
a{text-decoration:none;}
html,body{min-width: 1100px;height: 100%;-webkit-text-size-adjust: none;}
body{width: 100%;margin: 0 auto;font-family:"微软雅黑","宋体","Arial Narrow",HELVETICA;overflow: auto;}
.txtcenter{text-align: center;}
.fleft{float: left;}
.fright{float: right;}
/*登录页面*/
.wrapper{width: 100%;min-width: 1100px;}
.top-nav{width: 100%;height: 30px;line-height: 30px;overflow: hidden;border-bottom: 1px solid #ccc;}
.container{width: 1100px;margin: 0 auto;padding: 0;}
.tn-left{float: left;}
.tn-right{float: right;}
.tn-right a{color: #000;}
.split{margin: 0 5px 0 10px;}
.user-header{width: 100%;height: 105px;line-height: 105px;margin-bottom: 20px;}
.welcome-tips{font-size: 32px;font-weight: bold;}
.user-content{overflow: hidden;}
.content-left{width: 450px;margin-left: 50px;}
.content-right{width: 410px;height: 350px;margin-right: 50px;padding: 20px;border: 2px solid #f60;}
.form-title{font-size: 16px;font-weight: bold;margin-bottom: 30px;}
.login-form,.register-form{margin: 0 10px;}
.forgetpwd{display: inline-block;margin-left: 20px;}
.userbtn{width: 150px;background-color: #f60;height: 30px;color: #fff;margin: 10px 0 0 110px;}
.mt30{margin-top: 30px;}
.mb10{margin-bottom: 10px;}
.footer{width: 100%;min-width: 1100px;position: absolute;bottom: 0;}
.footer-nav{background-color: #dedede;height: 50px;line-height: 50px;margin-bottom: 10px;}
.footer-nav a{margin-right: 20px;color: #333;}
.copyright{margin-bottom: 10px;}
.copyright,.copyright a{color: #a0a0a0;}
.error{display: none;font-size: 12px;color: #f02;margin-left: 110px;}
.thisname{display: none;}